<!DOCTYPE html>
<html>
<head>
	<title>Batman</title>
</head>
<body>
<script src="../../../vendor/assets/javascripts/backstretch.min.js"></script>

<p style="color: white">I am Batman</p>

<script>
  $.backstretch('/assets/batman.jpg');
</script>

</body>
</html>


