<!DOCTYPE html>
<html>
<head>
	<title>Superman</title>
</head>
<body>
<script src="../../../vendor/assets/javascripts/backstretch.min.js"></script>

<p style="color: white">This look like a job for Superman</p>

<script>
  $.backstretch('/assets/superman.jpg');
</script>

</body>
</html>